  
<div class="card m-3" style="width: 15rem;">
    <div class="card-title bg-secondary text-white border-secondary">
        <h5 class="ml-1"><i class="far fa-clipboard"></i> Intern</h5>

    </div>
    <div class="card-body">
        <div>
            <span><strong>Id:</strong> </span> <span>  ${this.getId()}</span>
        </div>
        <div>
            <span><strong>Name:</strong> </span> <span>  ${this.getName()}</span>
        </div>
        <div>
            <span><strong>Email:</strong> </span> <span>  ${this.getEmail()}</span>
        </div>
        <div>
            <span><strong>School:</strong> </span> <span>  ${this.getSchool()}</span>
        </div>
    </div>
</div>