<div class="card w-50  mx-auto" >
    <div class="card-body">
        <div class="row ">
            <div class="col-2 ml-1">
                <i class="fab fa-7x fa-black-tie"></i>
            </div>
            <div class="col-9">
                <h4 class="card-title">Manager</h4>
                <hr>
                <div class="row">
                    <div class="col">
                        <span><strong>Name:</strong> </span> <span>${this.getName()}</span>                       
                    </div>
                    <div class="col">
                        <span><strong>Id:</strong> </span> <span>${this.getId()}</span> 
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span><strong>Email:</strong> </span> <span>${this.getEmail()}</span>                       
                    </div>
                    <div class="col">
                        <span><strong>Office:</strong> </span> <span>${this.getOfficeNumber()}</span> 
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>