<!doctype html>
<html lang="en">

<head>
    <title>My Team</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3 text-center">My team</h1>
        </div>

    </div>
    <!-- Manager -->
    <div id="manager" class="row ">
        <div class="card w-50  mx-auto" >
    <div class="card-body">
        <div class="row ">
            <div class="col-2 ml-1">
                <i class="fab fa-7x fa-black-tie"></i>
            </div>
            <div class="col-9">
                <h4 class="card-title">Manager</h4>
                <hr>
                <div class="row">
                    <div class="col">
                        <span><strong>Name:</strong> </span> <span>Weston</span>                       
                    </div>
                    <div class="col">
                        <span><strong>Id:</strong> </span> <span>1</span> 
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span><strong>Email:</strong> </span> <span>westonbmeier@gmail.com</span>                       
                    </div>
                    <div class="col">
                        <span><strong>Office:</strong> </span> <span>1</span> 
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
    </div>
    <!-- Engineer -->
    <div id="engineers" class="row mt-3 ml-5">
        <div class="card m-3" style="width: 15rem;">
            <div class="card-title bg-secondary text-white border-secondary">
                <h5 class="ml-1"><i class="far fa-clipboard"></i> Intern</h5>

            </div>
            <div class="card-body">
                <div>
                    <span><strong>Id:</strong> </span> <span> ${this.getId()}</span>
                </div>
                <div>
                    <span><strong>Name:</strong> </span> <span> ${this.getName()}</span>
                </div>
                <div>
                    <span><strong>Email:</strong> </span> <span> ${this.getEmail()}</span>
                </div>
                <div>
                    <span><strong>School:</strong> </span> <span> ${this.getSchool()}</span>
                </div>
            </div>
        </div>
    </div>
    <!--Intern -->
    <div id="interns" class="row mt-3 ml-5">

        <div class="card m-3" style="width: 15rem;">
            <div class="card-title bg-secondary text-white border-secondary">
                <h5 class="ml-1"><i class="far fa-clipboard"></i> Intern</h5>

            </div>
            <div class="card-body">
                <div>
                    <span><strong>Id:</strong> </span> <span> ${this.getId()}</span>
                </div>
                <div>
                    <span><strong>Name:</strong> </span> <span> ${this.getName()}</span>
                </div>
                <div>
                    <span><strong>Email:</strong> </span> <span> ${this.getEmail()}</span>
                </div>
                <div>
                    <span><strong>School:</strong> </span> <span> ${this.getSchool()}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- Font Awesome  -->
    <script src="https://kit.fontawesome.com/9eb8d4181d.js" crossorigin="anonymous"></script>
</body>

</html>